projects/apollo_integration_v1/workflow/apollo-sync-workflow.json
{
  "name": "Apollo Sync v1",
  "nodes": [
    {
      "id": "b1a2c3d4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [260, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "b1a2c3d4-0002-4000-8000-000000000002",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "apollo-key",
              "name": "apollo_api_key",
              "value": "={{ $env.APOLLO_API_KEY }}",
              "type": "string"
            },
            {
              "id": "supabase-url",
              "name": "supabase_url",
              "value": "={{ $env.SUPABASE_URL }}",
              "type": "string"
            },
            {
              "id": "supabase-key",
              "name": "supabase_service_key",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}",
              "type": "string"
            },
            {
              "id": "run-tag",
              "name": "run_tag",
              "value": "=vervelabs-{{ $now.format('yyyy-MM-dd-HHmm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b1a2c3d4-0003-4000-8000-000000000003",
      "name": "Setup Custom Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Phase 1: Setup Custom Fields\n// Mode: runOnceForAllItems\n\nconst APOLLO_API_KEY = $('Set Config').item.json.apollo_api_key;\nconst BASE_URL = 'https://api.apollo.io/api/v1';\n\nconst ACCOUNT_FIELDS = [\n  { label: 'Lead Score', field_type: 'number' },\n  { label: 'Has Website', field_type: 'boolean' },\n  { label: 'Has Online Booking', field_type: 'boolean' },\n  { label: 'Booking Platform', field_type: 'text_field' },\n  { label: 'Has Paid Ads', field_type: 'boolean' },\n  { label: 'On Groupon', field_type: 'boolean' },\n  { label: 'On Yelp', field_type: 'boolean' },\n  { label: 'Google Review Count', field_type: 'number' },\n  { label: 'Google Rating', field_type: 'number' },\n  { label: 'Estimated Size', field_type: 'text_field' },\n  { label: 'Enrichment Status', field_type: 'text_field' },\n  { label: 'Category', field_type: 'text_field' },\n  { label: 'VerveLabs Run Tag', field_type: 'text_field' },\n];\n\nconst CONTACT_FIELDS = [\n  { label: 'Cultural Affinity', field_type: 'text_field' },\n  { label: 'Is Owner', field_type: 'boolean' },\n  { label: 'Contact Role', field_type: 'text_field' },\n  { label: 'Contact Source', field_type: 'text_field' },\n  { label: 'VerveLabs Run Tag', field_type: 'text_field' },\n];\n\n// Fetch existing custom fields\nlet existingFields = [];\ntry {\n  const res = await fetch(`${BASE_URL}/fields`, {\n    method: 'GET',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': APOLLO_API_KEY,\n      'Cache-Control': 'no-cache'\n    }\n  });\n  const data = await res.json();\n  existingFields = data.fields || [];\n} catch (e) {\n  // If listing fails, proceed anyway - creates are idempotent\n  console.log('Could not list existing fields:', e.message);\n}\n\nconst existingLabels = new Set(\n  existingFields.map(f => f.label?.toLowerCase())\n);\n\nconst results = { created: [], skipped: [], errors: [] };\n\n// Create account custom fields\nfor (const field of ACCOUNT_FIELDS) {\n  if (existingLabels.has(field.label.toLowerCase())) {\n    results.skipped.push(field.label);\n    continue;\n  }\n  try {\n    const res = await fetch(`${BASE_URL}/fields`, {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'x-api-key': APOLLO_API_KEY\n      },\n      body: JSON.stringify({\n        label: field.label,\n        field_type: field.field_type,\n        modality: 'account'\n      })\n    });\n    if (res.ok) {\n      results.created.push(field.label);\n    } else {\n      const errData = await res.json();\n      results.errors.push(\n        `${field.label}: ${JSON.stringify(errData)}`\n      );\n    }\n    // Rate limit: wait 700ms between calls\n    await new Promise(r => setTimeout(r, 700));\n  } catch (e) {\n    results.errors.push(`${field.label}: ${e.message}`);\n  }\n}\n\n// Create contact custom fields\nfor (const field of CONTACT_FIELDS) {\n  if (existingLabels.has(field.label.toLowerCase())) {\n    results.skipped.push(field.label);\n    continue;\n  }\n  try {\n    const res = await fetch(`${BASE_URL}/fields`, {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'x-api-key': APOLLO_API_KEY\n      },\n      body: JSON.stringify({\n        label: field.label,\n        field_type: field.field_type,\n        modality: 'contact'\n      })\n    });\n    if (res.ok) {\n      results.created.push(field.label);\n    } else {\n      const errData = await res.json();\n      results.errors.push(\n        `${field.label}: ${JSON.stringify(errData)}`\n      );\n    }\n    await new Promise(r => setTimeout(r, 700));\n  } catch (e) {\n    results.errors.push(`${field.label}: ${e.message}`);\n  }\n}\n\nreturn [{\n  json: {\n    phase: 'custom_fields_setup',\n    ...results\n  }\n}];\n"
      }
    },
    {
      "id": "b1a2c3d4-0004-4000-8000-000000000004",
      "name": "Fetch Unsynced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Phase 2: Fetch Unsynced Data from Supabase\n// Mode: runOnceForAllItems\n\nconst SUPABASE_URL = $('Set Config').item.json.supabase_url;\nconst SUPABASE_KEY = $('Set Config').item.json.supabase_service_key;\nconst RUN_TAG = $('Set Config').item.json.run_tag;\n\nconst headers = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=representation'\n};\n\n// Fetch companies needing sync\n// Condition: fully_enriched AND (never synced OR re-enriched since last sync)\nconst companiesRes = await fetch(\n  `${SUPABASE_URL}/rest/v1/companies?enrichment_status=eq.fully_enriched&or=(apollo_synced_at.is.null,enriched_at.gt.apollo_synced_at)&select=*&order=city,name&limit=500`,\n  { headers }\n);\nconst companies = await companiesRes.json();\n\nif (!companies || companies.length === 0) {\n  return [{ json: { phase: 'fetch', companies: [], message: 'No unsynced companies found' } }];\n}\n\n// Fetch contacts for these companies\nconst companyIds = companies.map(c => c.id);\nconst contactsRes = await fetch(\n  `${SUPABASE_URL}/rest/v1/contacts?company_id=in.(${companyIds.join(',')})&select=*`,\n  { headers }\n);\nconst contacts = await contactsRes.json();\n\n// Group contacts by company_id\nconst contactsByCompany = {};\nfor (const contact of contacts) {\n  if (!contactsByCompany[contact.company_id]) {\n    contactsByCompany[contact.company_id] = [];\n  }\n  contactsByCompany[contact.company_id].push(contact);\n}\n\n// Emit one item per company with its contacts attached\nreturn companies.map(company => ({\n  json: {\n    company,\n    contacts: contactsByCompany[company.id] || [],\n    run_tag: RUN_TAG\n  }\n}));\n"
      }
    },
    {
      "id": "b1a2c3d4-0005-4000-8000-000000000005",
      "name": "IF Has Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1140, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-company",
              "leftValue": "={{ $json.company }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b1a2c3d4-0006-4000-8000-000000000006",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1360, 300],
      "parameters": {
        "batchSize": 25,
        "options": {}
      }
    },
    {
      "id": "b1a2c3d4-0007-4000-8000-000000000007",
      "name": "Upsert Account",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Phase 3: Upsert Account in Apollo\n// Mode: runOnceForEachItem\n\nconst APOLLO_API_KEY = $('Set Config').item.json.apollo_api_key;\nconst BASE_URL = 'https://api.apollo.io/api/v1';\nconst company = $input.item.json.company;\nconst contacts = $input.item.json.contacts;\nconst run_tag = $input.item.json.run_tag;\n\nconst apiHeaders = {\n  'Content-Type': 'application/json',\n  'x-api-key': APOLLO_API_KEY,\n  'Cache-Control': 'no-cache'\n};\n\n// Build custom fields payload\nconst customFields = {\n  'Lead Score': company.lead_score || 0,\n  'Has Website': company.has_website || false,\n  'Has Online Booking': company.has_online_booking || false,\n  'Booking Platform': company.booking_platform || '',\n  'Has Paid Ads': company.has_paid_ads || false,\n  'On Groupon': company.on_groupon || false,\n  'On Yelp': company.on_yelp || false,\n  'Google Review Count': company.google_review_count || 0,\n  'Google Rating': parseFloat(company.google_rating) || 0,\n  'Estimated Size': company.estimated_size || '',\n  'Enrichment Status': company.enrichment_status || '',\n  'Category': company.category || '',\n  'VerveLabs Run Tag': run_tag\n};\n\nlet apolloAccountId = company.apollo_account_id;\nlet action = 'skipped';\n\ntry {\n  // Step 1: Search for existing account by domain\n  if (company.domain && !apolloAccountId) {\n    const searchRes = await fetch(\n      `${BASE_URL}/accounts/search`,\n      {\n        method: 'POST',\n        headers: apiHeaders,\n        body: JSON.stringify({\n          q_organization_domains: company.domain,\n          page: 1,\n          per_page: 1\n        })\n      }\n    );\n    const searchData = await searchRes.json();\n    if (searchData.accounts && searchData.accounts.length > 0) {\n      apolloAccountId = searchData.accounts[0].id;\n    }\n    await new Promise(r => setTimeout(r, 700));\n  }\n\n  // Step 2: Build account payload\n  const accountPayload = {\n    name: company.name,\n    domain: company.domain || undefined,\n    phone_number: company.phone || undefined,\n    raw_address: company.address || undefined,\n    city: company.city || undefined,\n    state: company.state || undefined,\n    country: company.country || 'US',\n    website_url: company.domain\n      ? `https://${company.domain}` : undefined,\n    custom_fields: customFields\n  };\n\n  // Step 3: Update or Create\n  if (apolloAccountId) {\n    // UPDATE existing account\n    const updateRes = await fetch(\n      `${BASE_URL}/accounts/${apolloAccountId}`,\n      {\n        method: 'PATCH',\n        headers: apiHeaders,\n        body: JSON.stringify(accountPayload)\n      }\n    );\n    if (updateRes.ok) {\n      action = 'updated';\n    } else {\n      const err = await updateRes.json();\n      action = `update_error: ${JSON.stringify(err)}`;\n    }\n  } else {\n    // CREATE new account\n    const createRes = await fetch(\n      `${BASE_URL}/accounts`,\n      {\n        method: 'POST',\n        headers: apiHeaders,\n        body: JSON.stringify(accountPayload)\n      }\n    );\n    const createData = await createRes.json();\n    if (createRes.ok && createData.account) {\n      apolloAccountId = createData.account.id;\n      action = 'created';\n    } else {\n      action = `create_error: ${JSON.stringify(createData)}`;\n    }\n  }\n\n  // Rate limit pause\n  await new Promise(r => setTimeout(r, 700));\n\n} catch (e) {\n  action = `exception: ${e.message}`;\n}\n\nreturn {\n  json: {\n    company,\n    contacts,\n    run_tag,\n    apollo_account_id: apolloAccountId,\n    account_action: action\n  }\n};\n"
      }
    },
    {
      "id": "b1a2c3d4-0008-4000-8000-000000000008",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1800, 300],
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds"
      }
    },
    {
      "id": "b1a2c3d4-0009-4000-8000-000000000009",
      "name": "Upsert Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Phase 4: Upsert Contacts in Apollo\n// Mode: runOnceForEachItem\n\nconst APOLLO_API_KEY = $('Set Config').item.json.apollo_api_key;\nconst BASE_URL = 'https://api.apollo.io/api/v1';\nconst company = $input.item.json.company;\nconst contacts = $input.item.json.contacts;\nconst run_tag = $input.item.json.run_tag;\nconst apolloAccountId = $input.item.json.apollo_account_id;\n\nconst apiHeaders = {\n  'Content-Type': 'application/json',\n  'x-api-key': APOLLO_API_KEY,\n  'Cache-Control': 'no-cache'\n};\n\nconst contactResults = [];\n\nfor (const contact of contacts) {\n  try {\n    let apolloContactId = contact.apollo_contact_id;\n    let action = 'skipped';\n\n    const contactCustomFields = {\n      'Cultural Affinity': contact.cultural_affinity || '',\n      'Is Owner': contact.is_owner || false,\n      'Contact Role': contact.role || 'unknown',\n      'Contact Source': contact.source || '',\n      'VerveLabs Run Tag': run_tag\n    };\n\n    const contactPayload = {\n      first_name: contact.first_name || '',\n      last_name: contact.last_name || '',\n      organization_name: company.name,\n      account_id: apolloAccountId || undefined,\n      title: contact.role === 'owner' ? 'Owner'\n        : contact.role === 'manager' ? 'Manager'\n        : contact.role === 'practitioner'\n          ? 'Practitioner' : undefined,\n      email: contact.email_business\n        || contact.email_personal || undefined,\n      direct_phone: contact.phone_direct || undefined,\n      corporate_phone: company.phone || undefined,\n      linkedin_url: contact.linkedin_url || undefined,\n      present_raw_address: contact.location\n        || company.address || undefined,\n      custom_fields: contactCustomFields\n    };\n\n    if (apolloContactId) {\n      // UPDATE existing contact\n      const updateRes = await fetch(\n        `${BASE_URL}/contacts/${apolloContactId}`,\n        {\n          method: 'PATCH',\n          headers: apiHeaders,\n          body: JSON.stringify(contactPayload)\n        }\n      );\n      action = updateRes.ok ? 'updated' : 'update_error';\n    } else {\n      // CREATE with dedup enabled\n      contactPayload.run_dedupe = true;\n      const createRes = await fetch(\n        `${BASE_URL}/contacts`,\n        {\n          method: 'POST',\n          headers: apiHeaders,\n          body: JSON.stringify(contactPayload)\n        }\n      );\n      const createData = await createRes.json();\n      if (createRes.ok && createData.contact) {\n        apolloContactId = createData.contact.id;\n        action = 'created';\n      } else {\n        action = `create_error: ${JSON.stringify(createData)}`;\n      }\n    }\n\n    contactResults.push({\n      supabase_contact_id: contact.id,\n      apollo_contact_id: apolloContactId,\n      name: `${contact.first_name} ${contact.last_name}`,\n      action\n    });\n\n    // Rate limit: 700ms between API calls\n    await new Promise(r => setTimeout(r, 700));\n\n  } catch (e) {\n    contactResults.push({\n      supabase_contact_id: contact.id,\n      name: `${contact.first_name} ${contact.last_name}`,\n      action: `exception: ${e.message}`\n    });\n  }\n}\n\nreturn {\n  json: {\n    company_id: company.id,\n    company_name: company.name,\n    apollo_account_id: apolloAccountId,\n    account_action: $input.item.json.account_action,\n    contact_results: contactResults\n  }\n};\n"
      }
    },
    {
      "id": "b1a2c3d4-0010-4000-8000-000000000010",
      "name": "Mark Synced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Phase 5: Mark Synced in Supabase\n// Mode: runOnceForEachItem\n\nconst SUPABASE_URL = $('Set Config').item.json.supabase_url;\nconst SUPABASE_KEY = $('Set Config').item.json.supabase_service_key;\nconst item = $input.item.json;\nconst now = new Date().toISOString();\n\nconst headers = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\nconst results = { company: null, contacts: [] };\n\ntry {\n  // Update company apollo_account_id + apollo_synced_at\n  if (item.apollo_account_id) {\n    const compRes = await fetch(\n      `${SUPABASE_URL}/rest/v1/companies?id=eq.${item.company_id}`,\n      {\n        method: 'PATCH',\n        headers,\n        body: JSON.stringify({\n          apollo_account_id: item.apollo_account_id,\n          apollo_synced_at: now\n        })\n      }\n    );\n    results.company = compRes.ok ? 'synced' : 'error';\n  }\n\n  // Update each contact's apollo_contact_id + apollo_synced_at\n  for (const cr of (item.contact_results || [])) {\n    if (cr.apollo_contact_id && cr.supabase_contact_id) {\n      const ctRes = await fetch(\n        `${SUPABASE_URL}/rest/v1/contacts?id=eq.${cr.supabase_contact_id}`,\n        {\n          method: 'PATCH',\n          headers,\n          body: JSON.stringify({\n            apollo_contact_id: cr.apollo_contact_id,\n            apollo_synced_at: now\n          })\n        }\n      );\n      results.contacts.push({\n        id: cr.supabase_contact_id,\n        status: ctRes.ok ? 'synced' : 'error'\n      });\n    }\n  }\n} catch (e) {\n  results.error = e.message;\n}\n\nreturn {\n  json: {\n    company_id: item.company_id,\n    company_name: item.company_name,\n    apollo_account_id: item.apollo_account_id,\n    account_action: item.account_action,\n    contact_results: item.contact_results,\n    sync_results: results\n  }\n};\n"
      }
    },
    {
      "id": "b1a2c3d4-0011-4000-8000-000000000011",
      "name": "Log Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 520],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Log Summary — aggregate sync results from all batches\n// Mode: runOnceForAllItems\n// Receives all items from the SplitInBatches \"done\" output,\n// which aggregates every item that passed through the loop.\n\nconst items = $input.all();\nconst summary = {\n  accounts_created: 0,\n  accounts_updated: 0,\n  accounts_error: 0,\n  contacts_created: 0,\n  contacts_updated: 0,\n  contacts_error: 0,\n  companies_synced: 0\n};\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Count company sync results\n  if (d.sync_results?.company === 'synced') summary.companies_synced++;\n\n  // Count account actions\n  if (d.account_action === 'created') summary.accounts_created++;\n  else if (d.account_action === 'updated') summary.accounts_updated++;\n  else if (d.account_action?.includes('error')) summary.accounts_error++;\n\n  // Count contact results\n  for (const cr of (d.contact_results || [])) {\n    if (cr.action === 'created') summary.contacts_created++;\n    else if (cr.action === 'updated') summary.contacts_updated++;\n    else if (cr.action?.includes('error')) summary.contacts_error++;\n  }\n}\n\nsummary.total_items = items.length;\nconsole.log('Apollo Sync Summary:', JSON.stringify(summary));\nreturn [{ json: summary }];\n"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Setup Custom Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Custom Fields": {
      "main": [
        [
          {
            "node": "Fetch Unsynced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unsynced": {
      "main": [
        [
          {
            "node": "IF Has Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Account": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Upsert Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contacts": {
      "main": [
        [
          {
            "node": "Mark Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Synced": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}
