workflows/generated/report-generator-workflow.json
{
  "name": "Report Generator v0",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "report-generator-v1",
      "parameters": {
        "path": "report-generator-v1",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"accepted\", \"message\": \"Report generation started\"}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Fetch Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "// Fetch Report Data — First Code node in Report Generator workflow\n// Mode: runOnceForAllItems\n// Reads run_id + metro from webhook body, fetches pipeline_runs row,\n// marks report_status = 'generating', calls get_lead_report RPC.\n\nconst webhookData = $('Webhook').first().json;\nconst payload = webhookData.body || webhookData;\nconst runId = payload.run_id;\nconst metro = payload.metro;\n\nif (!runId || !metro) {\n  return [{ json: { error: 'Missing run_id or metro in webhook body', payload } }];\n}\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst sbHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json'\n};\n\n// Fetch pipeline_runs row to get triggered_by email and metro_name\nconst pipelineRuns = await this.helpers.httpRequest({\n  method: 'GET',\n  url: `${supabaseUrl}/rest/v1/pipeline_runs?id=eq.${runId}&select=*`,\n  headers: { 'apikey': supabaseKey, 'Authorization': 'Bearer ' + supabaseKey },\n  json: true\n});\n\nif (!Array.isArray(pipelineRuns) || pipelineRuns.length === 0) {\n  return [{ json: { error: `pipeline_runs not found for run_id: ${runId}` } }];\n}\n\nconst pipelineRun = pipelineRuns[0];\nconst triggeredBy = pipelineRun.triggered_by || 'unknown';\nconst metroName = pipelineRun.metro_name || metro;\n\nconsole.log(`Fetch Report Data: run_id=${runId}, metro=${metro}, triggered_by=${triggeredBy}`);\n\n// Mark report_status = 'generating'\ntry {\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${supabaseUrl}/rest/v1/pipeline_runs?id=eq.${runId}`,\n    headers: { ...sbHeaders, 'Prefer': 'return=minimal' },\n    body: { report_status: 'generating' },\n    json: true\n  });\n} catch(e) {\n  console.log(`Fetch Report Data: WARNING — failed to set report_status: ${e.message}`);\n}\n\n// Call get_lead_report RPC to get companies + contacts + social profiles\nconst data = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${supabaseUrl}/rest/v1/rpc/get_lead_report`,\n  headers: sbHeaders,\n  body: { p_metro: metro },\n  json: true\n});\n\nconst records = Array.isArray(data) ? data : [];\nconsole.log(`Fetch Report Data: got ${records.length} records for ${metro}`);\n\nreturn [{ json: {\n  run_id: runId,\n  metro,\n  metro_name: metroName,\n  triggered_by: triggeredBy,\n  pipeline_run: pipelineRun,\n  data: records\n}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "jsCode": "// Generate Report — ExcelJS-based report generator\n// Mode: runOnceForAllItems\n// Implements the full v2 report guide: clean, tier, build xlsx.\n// Outputs binary xlsx as n8n binary attachment for downstream HTTP Request upload.\n// Requires: NODE_FUNCTION_ALLOW_EXTERNAL=exceljs in n8n env vars.\n\nconst ExcelJS = require('exceljs');\n\nconst input = $input.first().json;\nconst { run_id, metro, metro_name, triggered_by, pipeline_run, data } = input;\n\nif (!data || !Array.isArray(data) || data.length === 0) {\n  // No data — mark report as failed\n  const supabaseUrl = $env.SUPABASE_URL;\n  const supabaseKey = $env.SUPABASE_SERVICE_KEY;\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${supabaseUrl}/rest/v1/pipeline_runs?id=eq.${run_id}`,\n      headers: {\n        'apikey': supabaseKey, 'Authorization': 'Bearer ' + supabaseKey,\n        'Content-Type': 'application/json', 'Prefer': 'return=minimal'\n      },\n      body: { report_status: 'failed', report_error: 'No data returned from get_lead_report RPC' },\n      json: true\n    });\n  } catch(e) { /* best effort */ }\n  return [{ json: { error: 'No data to generate report', run_id } }];\n}\n\nconst TODAY = new Date().toISOString().split('T')[0];\n\n// ============================================================\n// CONFIG\n// ============================================================\nconst JUNK_CATEGORIES = [\n  'Transportation Service', 'Car repair and maintenance service',\n  'Corporate Office', 'Car Rental Agency', 'Educational Institution',\n  'Association / Organization', 'Storage Facility', 'Shipping Service', 'Car Dealer'\n];\n\nconst TIER_SORT = {\n  '1a - Name + Email + Phone': 0,\n  '1b - Name + Channel': 1,\n  '2a - Phone + Website': 2,\n  '2b - Co.Phone + Web + Rating': 3,\n  'Other': 4\n};\n\nconst TIER_COLORS = {\n  '1a - Name + Email + Phone': 'FF92D050',\n  '1b - Name + Channel': 'FFC6EFCE',\n  '2a - Phone + Website': 'FFFCE4D6',\n  '2b - Co.Phone + Web + Rating': 'FFF2F2F2',\n  'Other': 'FFFFFFFF'\n};\n\nconst OUTPUT_COLUMNS = {\n  'tier': 'Tier', 'lead_score': 'Score', 'metro_group': 'Metro',\n  'company_name': 'Business Name', 'category_clean': 'Category',\n  'estimated_size': 'Est. Size', 'contact_name': 'Contact Name',\n  'contact_role': 'Role', 'owner': 'Owner?', 'contact_email': 'Contact Email',\n  'contact_phone': 'Contact Phone', 'company_phone': 'Business Phone',\n  'cultural_affinity': 'Cultural Affinity', 'linkedin_url': 'LinkedIn',\n  'website': 'Website', 'address': 'Address', 'city': 'City', 'state': 'State',\n  'google_rating': 'Rating', 'google_reviews': 'Reviews',\n  'booking_platform': 'Booking Platform', 'on_groupon': 'On Groupon?',\n  'instagram_url': 'Instagram', 'facebook_url': 'Facebook',\n  'tiktok_url': 'TikTok', 'social_platforms': 'Social Platforms',\n  'contact_source': 'Contact Source'\n};\n\nconst COLUMN_WIDTHS = {\n  'Tier': 26, 'Score': 7, 'Metro': 20, 'Business Name': 32,\n  'Category': 14, 'Est. Size': 10, 'Contact Name': 22, 'Role': 12,\n  'Owner?': 8, 'Contact Email': 30, 'Contact Phone': 16,\n  'Business Phone': 16, 'Cultural Affinity': 26, 'LinkedIn': 30,\n  'Website': 26, 'Address': 38, 'City': 14, 'State': 7,\n  'Rating': 7, 'Reviews': 9, 'Booking Platform': 16,\n  'On Groupon?': 11, 'Instagram': 30, 'Facebook': 30,\n  'TikTok': 28, 'Social Platforms': 25, 'Contact Source': 13\n};\n\n// ============================================================\n// STEP 1: CLEAN\n// ============================================================\nlet records = data.filter(r => !JUNK_CATEGORIES.includes(r.category));\n\n// Normalize nulls\nconst isBlank = (v) => v === null || v === undefined || v === '' || v === 'null' || v === 'None';\nconst clean = (v) => isBlank(v) ? null : v;\n\nrecords = records.map(r => {\n  const cleaned = {};\n  for (const [k, v] of Object.entries(r)) {\n    cleaned[k] = clean(v);\n  }\n  return cleaned;\n});\n\n// Simplify categories\nfunction simplifyCategory(cat) {\n  if (!cat) return 'Unknown';\n  const cl = cat.toLowerCase();\n  if (cl.includes('spa') && cl.includes('massage')) return 'Massage Spa';\n  if (cl.includes('day spa')) return 'Day Spa';\n  if (cl.includes('spa')) return 'Spa';\n  if (cl.includes('massage')) return 'Massage';\n  if (cl.includes('wellness')) return 'Wellness Center';\n  if (cl.includes('chiro')) return 'Chiropractor';\n  if (cl.includes('physical therap')) return 'Physical Therapist';\n  if (cl.includes('nail salon')) return 'Nail Salon';\n  if (cl.includes('hair salon') || cl.includes('beauty salon')) return 'Salon';\n  if (cl.includes('medical') || cl.includes('doctor') || cl.includes('health')) return 'Health & Medical';\n  return cat;\n}\n\n// Metro grouping\nfunction normalizeMetro(row) {\n  const m = String(row.metro || '');\n  const st = String(row.state || '');\n  if (st === 'AZ' && ['Sedona', 'Cornville', 'Cottonwood', 'Camp Verde', 'Rimrock', 'Big Park', 'Clarkdale', 'Flagstaff'].some(x => m.includes(x))) {\n    return 'Sedona Area, AZ';\n  }\n  if (st === 'AZ') return 'Phoenix Metro, AZ';\n  if (st === 'TN') return 'Nashville Area, TN';\n  if (st === 'TX') return 'Austin Area, TX';\n  if (st === 'CA') return 'San Diego Area, CA';\n  if (st === 'ID') return 'Boise Area, ID';\n  if (st === 'CO') return 'Denver Area, CO';\n  if (st === 'OR') return 'Portland Area, OR';\n  if (st === 'NC') return 'Asheville Area, NC';\n  if (st === 'ON') return 'Toronto Area, ON';\n  if (st === 'FL') return 'Tampa Area, FL';\n  return m;\n}\n\nrecords = records.map(r => ({\n  ...r,\n  category_clean: simplifyCategory(r.category),\n  metro_group: normalizeMetro(r)\n}));\n\n// Deduplicate by company_name\nconst seen = new Set();\nrecords = records.filter(r => {\n  const name = (r.company_name || '').toLowerCase().trim();\n  if (seen.has(name)) return false;\n  seen.add(name);\n  return true;\n});\n\nconst totalRecords = records.length;\n\n// ============================================================\n// STEP 2: TIER\n// ============================================================\nfunction assignTier(r) {\n  const hasName = r.contact_name && String(r.contact_name).trim() !== '';\n  const hasEmail = r.contact_email && String(r.contact_email).trim() !== '';\n  const hasCPhone = r.contact_phone && String(r.contact_phone).trim() !== '';\n  const hasWebsite = r.website && String(r.website).trim() !== '';\n  const hasRating = r.google_rating !== null && r.google_rating !== undefined;\n  const hasCoPhone = r.company_phone && String(r.company_phone).trim() !== '';\n\n  if (hasName && hasEmail && hasCPhone) return '1a - Name + Email + Phone';\n  if (hasName && (hasEmail || hasCPhone)) return '1b - Name + Channel';\n  if (hasCPhone && hasWebsite) return '2a - Phone + Website';\n  if (hasCoPhone && hasWebsite && hasRating) return '2b - Co.Phone + Web + Rating';\n  return 'Other';\n}\n\nrecords = records.map(r => ({ ...r, tier: assignTier(r) }));\n\n// Split sendable vs other\nconst sendable = records\n  .filter(r => r.tier !== 'Other')\n  .sort((a, b) => {\n    const tierDiff = (TIER_SORT[a.tier] || 99) - (TIER_SORT[b.tier] || 99);\n    if (tierDiff !== 0) return tierDiff;\n    const scoreDiff = (b.lead_score || 0) - (a.lead_score || 0);\n    if (scoreDiff !== 0) return scoreDiff;\n    return (b.google_reviews || 0) - (a.google_reviews || 0);\n  });\n\nconst other = records\n  .filter(r => r.tier === 'Other')\n  .sort((a, b) => {\n    const scoreDiff = (b.lead_score || 0) - (a.lead_score || 0);\n    if (scoreDiff !== 0) return scoreDiff;\n    return (b.google_reviews || 0) - (a.google_reviews || 0);\n  });\n\n// ============================================================\n// STEP 3: MAP TO OUTPUT COLUMNS\n// ============================================================\nconst availableKeys = Object.keys(OUTPUT_COLUMNS).filter(k => {\n  // Check if at least one record has this field\n  return records.some(r => r[k] !== undefined);\n});\nconst headers = availableKeys.map(k => OUTPUT_COLUMNS[k]);\n\nfunction mapRow(r) {\n  return availableKeys.map(k => {\n    let v = r[k];\n    if (v === null || v === undefined) return '';\n    if (typeof v === 'boolean') return v ? 'Yes' : 'No';\n    return v;\n  });\n}\n\n// ============================================================\n// STEP 4: BUILD XLSX WITH ExcelJS\n// ============================================================\nconst workbook = new ExcelJS.Workbook();\nworkbook.creator = 'VerveLabs Pipeline';\nworkbook.created = new Date();\n\n// Shared styles\nconst hdrFill = { type: 'pattern', pattern: 'solid', fgColor: { argb: 'FF2F5496' } };\nconst hdrFont = { name: 'Arial', bold: true, size: 10, color: { argb: 'FFFFFFFF' } };\nconst cellFont = { name: 'Arial', size: 10 };\nconst thinBorder = { bottom: { style: 'thin', color: { argb: 'FFD9D9D9' } } };\n\nfunction writeLeadSheet(ws, rows) {\n  // Header row\n  const headerRow = ws.addRow(headers);\n  headerRow.eachCell((cell, colNumber) => {\n    cell.font = hdrFont;\n    cell.fill = hdrFill;\n    cell.alignment = { horizontal: 'center', vertical: 'middle', wrapText: true };\n  });\n\n  // Freeze panes\n  ws.views = [{ state: 'frozen', ySplit: 1 }];\n\n  // Auto filter\n  ws.autoFilter = { from: 'A1', to: `${String.fromCharCode(64 + headers.length)}1` };\n\n  // Data rows\n  for (const r of rows) {\n    const mapped = mapRow(r);\n    const dataRow = ws.addRow(mapped);\n    const tier = r.tier || 'Other';\n    const fillColor = TIER_COLORS[tier] || 'FFFFFFFF';\n\n    dataRow.eachCell({ includeEmpty: true }, (cell, colNumber) => {\n      cell.font = cellFont;\n      cell.fill = { type: 'pattern', pattern: 'solid', fgColor: { argb: fillColor } };\n      cell.border = thinBorder;\n\n      const colName = headers[colNumber - 1];\n      if (colName === 'Rating' && cell.value !== '') {\n        cell.numFmt = '0.0';\n      }\n      if (['Score', 'Owner?', 'Reviews'].includes(colName)) {\n        cell.alignment = { horizontal: 'center' };\n      }\n      if (colName === 'Reviews' && cell.value !== '') {\n        cell.numFmt = '#,##0';\n      }\n    });\n  }\n\n  // Column widths\n  headers.forEach((h, i) => {\n    ws.getColumn(i + 1).width = COLUMN_WIDTHS[h] || 15;\n  });\n}\n\n// --- Compute stats ---\nconst tierCounts = {};\nfor (const r of sendable) {\n  tierCounts[r.tier] = (tierCounts[r.tier] || 0) + 1;\n}\n\nconst metroGroups = [...new Set(sendable.map(r => r.metro_group).filter(Boolean))].sort();\n\nfunction countNonEmpty(arr, key) {\n  return arr.filter(r => {\n    const v = r[key];\n    return v !== null && v !== undefined && String(v).trim() !== '';\n  }).length;\n}\n\n// ============================================================\n// SHEET 1: SUMMARY\n// ============================================================\nconst wsSummary = workbook.addWorksheet('Summary', {\n  properties: { tabColor: { argb: 'FF4472C4' } }\n});\nwsSummary.getColumn(1).width = 55;\nwsSummary.getColumn(2).width = 65;\nfor (let i = 3; i <= 6; i++) wsSummary.getColumn(i).width = 14;\n\nlet row = 1;\n\n// Title\nwsSummary.getCell(`A${row}`).value = 'VerveLabs - Sales Lead Report';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 18, color: { argb: 'FF2F5496' } };\nrow++;\n\nwsSummary.getCell(`A${row}`).value = `Generated ${TODAY} | ${sendable.length} qualified leads across ${metroGroups.length} metros`;\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 11, color: { argb: 'FF808080' } };\nrow++;\n\nwsSummary.getCell(`A${row}`).value = `Filtered from ${totalRecords} total records. Only sendable leads in main tabs. \"All Other Leads\" tab has ${other.length} additional records.`;\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 10, italic: true, color: { argb: 'FFA0A0A0' } };\nrow += 2;\n\n// Tier Breakdown\nwsSummary.getCell(`A${row}`).value = 'Tier Breakdown';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 11, color: { argb: 'FF2F5496' } };\nrow++;\n\nconst tierNames = ['1a - Name + Email + Phone', '1b - Name + Channel', '2a - Phone + Website', '2b - Co.Phone + Web + Rating'];\nfor (const tn of tierNames) {\n  wsSummary.getCell(`A${row}`).value = `  ${tn}`;\n  wsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 11 };\n  wsSummary.getCell(`B${row}`).value = tierCounts[tn] || 0;\n  wsSummary.getCell(`B${row}`).font = { name: 'Arial', bold: true, size: 11 };\n  row++;\n}\n\nwsSummary.getCell(`A${row}`).value = '  Total Sendable';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 11 };\nwsSummary.getCell(`B${row}`).value = sendable.length;\nwsSummary.getCell(`B${row}`).font = { name: 'Arial', bold: true, size: 11 };\nrow++;\n\nwsSummary.getCell(`A${row}`).value = '  Other (not yet sendable)';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 11, color: { argb: 'FF999999' } };\nwsSummary.getCell(`B${row}`).value = other.length;\nwsSummary.getCell(`B${row}`).font = { name: 'Arial', size: 11, color: { argb: 'FF999999' } };\nrow += 2;\n\n// Metro Breakdown\nwsSummary.getCell(`A${row}`).value = 'Metro Breakdown';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 11, color: { argb: 'FF2F5496' } };\nrow++;\n\nconst metroHeaders = ['Metro', 'Total', 'Tier 1a', 'Tier 1b', 'Tier 2a', 'Tier 2b'];\nmetroHeaders.forEach((h, i) => {\n  wsSummary.getCell(row, i + 1).value = h;\n  wsSummary.getCell(row, i + 1).font = { name: 'Arial', bold: true, size: 10, color: { argb: 'FF2F5496' } };\n});\nrow++;\n\nfor (const mg of metroGroups) {\n  const metroLeads = sendable.filter(r => r.metro_group === mg);\n  const mtc = {};\n  for (const r of metroLeads) mtc[r.tier] = (mtc[r.tier] || 0) + 1;\n\n  wsSummary.getCell(row, 1).value = mg;\n  wsSummary.getCell(row, 1).font = { name: 'Arial', size: 11 };\n  wsSummary.getCell(row, 2).value = metroLeads.length;\n  wsSummary.getCell(row, 2).font = { name: 'Arial', bold: true, size: 11 };\n  wsSummary.getCell(row, 3).value = mtc['1a - Name + Email + Phone'] || 0;\n  wsSummary.getCell(row, 4).value = mtc['1b - Name + Channel'] || 0;\n  wsSummary.getCell(row, 5).value = mtc['2a - Phone + Website'] || 0;\n  wsSummary.getCell(row, 6).value = mtc['2b - Co.Phone + Web + Rating'] || 0;\n  row++;\n}\nrow++;\n\n// Quick Stats\nwsSummary.getCell(`A${row}`).value = 'Quick Stats';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 11, color: { argb: 'FF2F5496' } };\nrow++;\n\nconst ownerCount = sendable.filter(r => r.owner === true || r.owner === 'true').length;\nconst ratingValues = sendable.map(r => r.google_rating).filter(v => v !== null && v !== undefined && v !== '');\nconst reviewValues = sendable.map(r => r.google_reviews).filter(v => v !== null && v !== undefined && v !== '');\nconst avgRating = ratingValues.length > 0 ? (ratingValues.reduce((a, b) => a + Number(b), 0) / ratingValues.length).toFixed(1) : 'N/A';\nconst avgReviews = reviewValues.length > 0 ? Math.round(reviewValues.reduce((a, b) => a + Number(b), 0) / reviewValues.length) : 'N/A';\n\nconst stats = [\n  ['Total Qualified Leads', sendable.length],\n  ['With Contact Name', countNonEmpty(sendable, 'contact_name')],\n  ['Confirmed Owners', ownerCount],\n  ['With Contact Email', countNonEmpty(sendable, 'contact_email')],\n  ['With Contact Phone', countNonEmpty(sendable, 'contact_phone')],\n  ['With Website', countNonEmpty(sendable, 'website')],\n  ['With Booking Platform', countNonEmpty(sendable, 'booking_platform')],\n  ['With Instagram', countNonEmpty(sendable, 'instagram_url')],\n  ['With Facebook', countNonEmpty(sendable, 'facebook_url')],\n  ['With LinkedIn', countNonEmpty(sendable, 'linkedin_url')],\n  ['With Cultural Affinity', countNonEmpty(sendable, 'cultural_affinity')],\n  ['Avg Google Rating', avgRating],\n  ['Avg Google Reviews', avgReviews]\n];\n\nfor (const [label, val] of stats) {\n  wsSummary.getCell(`A${row}`).value = `  ${label}`;\n  wsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 11 };\n  wsSummary.getCell(`B${row}`).value = val;\n  wsSummary.getCell(`B${row}`).font = { name: 'Arial', bold: true, size: 11 };\n  row++;\n}\nrow++;\n\n// Tier Guide\nwsSummary.getCell(`A${row}`).value = 'Tier Guide';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 11, color: { argb: 'FF2F5496' } };\nrow++;\n\nconst guides = [\n  ['1a - Name + Email + Phone', 'FF92D050', 'Best leads. Call by name, follow up by email.'],\n  ['1b - Name + Channel', 'FFC6EFCE', 'Contact name + either email or phone. Call by name.'],\n  ['2a - Phone + Website', 'FFFCE4D6', 'Direct contact phone + website but no name. Research the site, then call.'],\n  ['2b - Co.Phone + Web + Rating', 'FFF2F2F2', 'Company phone + website + Google rating. Call and ask for the owner.']\n];\n\nfor (const [tn, color, desc] of guides) {\n  wsSummary.getCell(`A${row}`).value = `  ${tn}`;\n  wsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 10 };\n  wsSummary.getCell(`A${row}`).fill = { type: 'pattern', pattern: 'solid', fgColor: { argb: color } };\n  wsSummary.getCell(`B${row}`).value = desc;\n  wsSummary.getCell(`B${row}`).font = { name: 'Arial', size: 10, color: { argb: 'FF666666' } };\n  wsSummary.mergeCells(row, 2, row, 6);\n  row++;\n}\nrow++;\n\n// Tier vs Score Explainer\nwsSummary.getCell(`A${row}`).value = 'Understanding Tier vs. Score';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 11, color: { argb: 'FF2F5496' } };\nrow++;\nwsSummary.getCell(`A${row}`).value = 'These measure different things. Tier = can we reach them? Score = do they need us?';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 10, color: { argb: 'FF444444' } };\nwsSummary.mergeCells(row, 1, row, 6);\nrow += 2;\n\nwsSummary.getCell(`A${row}`).value = 'TIER = \"Can we reach them?\"';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 10, color: { argb: 'FF2F5496' } };\nwsSummary.mergeCells(row, 1, row, 6);\nrow++;\nfor (const line of [\n  'Based on contact data quality: name, phone, email, website.',\n  'Tier 1a (bright green) = name + email + phone. Tier 2b (gray) = company phone + website + rating.'\n]) {\n  wsSummary.getCell(`A${row}`).value = line;\n  wsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 10, color: { argb: 'FF808080' } };\n  wsSummary.mergeCells(row, 1, row, 6);\n  row++;\n}\nrow++;\n\nwsSummary.getCell(`A${row}`).value = 'SCORE = \"How much do they need us?\"';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 10, color: { argb: 'FF2F5496' } };\nwsSummary.mergeCells(row, 1, row, 6);\nrow++;\nfor (const line of [\n  'Solo practitioner (+20), on Groupon (+15), no website (+10), no booking (+10),',\n  'runs paid ads (+5), under 20 reviews (+5). Higher = more signals they need help.'\n]) {\n  wsSummary.getCell(`A${row}`).value = line;\n  wsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 10, color: { argb: 'FF808080' } };\n  wsSummary.mergeCells(row, 1, row, 6);\n  row++;\n}\nrow++;\n\nwsSummary.getCell(`A${row}`).value = 'WHY HIGH SCORES CAN APPEAR IN LOWER TIERS';\nwsSummary.getCell(`A${row}`).font = { name: 'Arial', bold: true, size: 10, color: { argb: 'FFC00000' } };\nwsSummary.mergeCells(row, 1, row, 6);\nrow++;\nfor (const line of [\n  'Scoring rewards missing things (no website = +10). But those gaps also reduce reachability.',\n  'Tier 1 leads are established businesses — easy to reach but fewer \"needs help\" signals.',\n  '',\n  'HOW TO USE: Work Tier 1a first, then 1b, then 2a/2b. Within each tier, prioritize by score.'\n]) {\n  wsSummary.getCell(`A${row}`).value = line;\n  wsSummary.getCell(`A${row}`).font = { name: 'Arial', size: 10, color: { argb: 'FF808080' } };\n  wsSummary.mergeCells(row, 1, row, 6);\n  row++;\n}\n\n// ============================================================\n// SHEET 2: ALL LEADS\n// ============================================================\nconst wsAll = workbook.addWorksheet('All Leads', {\n  properties: { tabColor: { argb: 'FF70AD47' } }\n});\nwriteLeadSheet(wsAll, sendable);\n\n// ============================================================\n// SHEET 3: TIER 1 - PRIORITY\n// ============================================================\nconst tier1 = sendable.filter(r => r.tier.startsWith('1'));\nif (tier1.length > 0) {\n  const wsT1 = workbook.addWorksheet('Tier 1 - Priority', {\n    properties: { tabColor: { argb: 'FF92D050' } }\n  });\n  writeLeadSheet(wsT1, tier1);\n}\n\n// ============================================================\n// SHEET 4: TIER 2a - DIRECT PHONE\n// ============================================================\nconst tier2a = sendable.filter(r => r.tier === '2a - Phone + Website');\nif (tier2a.length > 0) {\n  const ws2a = workbook.addWorksheet('Tier 2a - Direct Phone', {\n    properties: { tabColor: { argb: 'FFFCE4D6' } }\n  });\n  writeLeadSheet(ws2a, tier2a);\n}\n\n// ============================================================\n// SHEET 5: TIER 2b - COLD CALL\n// ============================================================\nconst tier2b = sendable.filter(r => r.tier === '2b - Co.Phone + Web + Rating');\nif (tier2b.length > 0) {\n  const ws2b = workbook.addWorksheet('Tier 2b - Cold Call', {\n    properties: { tabColor: { argb: 'FFF2F2F2' } }\n  });\n  writeLeadSheet(ws2b, tier2b);\n}\n\n// ============================================================\n// SHEET 6: ALL OTHER LEADS\n// ============================================================\nif (other.length > 0) {\n  const wsOther = workbook.addWorksheet('All Other Leads', {\n    properties: { tabColor: { argb: 'FFD9D9D9' } }\n  });\n  writeLeadSheet(wsOther, other);\n}\n\n// ============================================================\n// SHEETS 7+: PER-METRO TABS\n// ============================================================\nfor (const mg of metroGroups) {\n  const metroData = sendable.filter(r => r.metro_group === mg);\n  if (metroData.length > 0) {\n    const shortName = mg.split(',')[0].replace(' Area', '').replace(' Metro', '').replace(/ /g, '');\n    const wsMetro = workbook.addWorksheet(shortName, {\n      properties: { tabColor: { argb: 'FF4472C4' } }\n    });\n    writeLeadSheet(wsMetro, metroData);\n  }\n}\n\n// ============================================================\n// STEP 5: GENERATE BUFFER & OUTPUT AS BINARY\n// ============================================================\n\n// Generate filename\nconst metroSlug = metro.replace(/, /g, '_').replace(/ /g, '_');\nconst filename = `VerveLabs_Sales_Leads_${metroSlug}_${TODAY}.xlsx`;\n\n// Build summary for downstream nodes\nconst summary = {\n  total_records: totalRecords,\n  sendable: sendable.length,\n  other: other.length,\n  tier_1a: tierCounts['1a - Name + Email + Phone'] || 0,\n  tier_1b: tierCounts['1b - Name + Channel'] || 0,\n  tier_2a: tierCounts['2a - Phone + Website'] || 0,\n  tier_2b: tierCounts['2b - Co.Phone + Web + Rating'] || 0,\n  metros: metroGroups.length,\n  filename\n};\n\nconst arrayBuffer = await workbook.xlsx.writeBuffer();\nconst nodeBuffer = Buffer.from(arrayBuffer);\nconst base64Data = nodeBuffer.toString('base64');\n\nconsole.log(`Generate Report: SUCCESS — ${sendable.length} sendable, ${other.length} other, ${metroGroups.length} metros, ${nodeBuffer.length} bytes`);\n\n// Output binary xlsx as n8n binary attachment.\n// Downstream HTTP Request node will upload this binary data correctly\n// (avoids IPC serialization corruption with task runners).\nreturn [{\n  json: { run_id, metro, triggered_by, filename, base64: base64Data, summary },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      nodeBuffer,\n      filename,\n      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'\n    )\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Upload to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/run-reports/{{ $json.run_id }}/{{ $json.filename }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Complete Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ],
      "parameters": {
        "jsCode": "// Complete Report — PATCH pipeline_runs after Supabase Storage upload\n// Mode: runOnceForAllItems\n// Constructs report_url, marks report as completed (or failed if upload errored).\n// Passes all data through for Send Email node.\n\nconst input = $input.first().json;\nconst { run_id, metro, triggered_by, filename, base64, summary } = input;\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst sbHeaders = {\n  'apikey': supabaseKey,\n  'Authorization': 'Bearer ' + supabaseKey,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=minimal'\n};\n\n// Check if the Upload to Storage node returned an error\n// n8n HTTP Request with \"Continue on Error\" puts error info in the item\nconst uploadError = input.error || input.errorMessage || null;\n\nlet reportUrl = null;\nlet reportStatus = 'completed';\n\nif (uploadError) {\n  // Upload failed — mark report as failed\n  reportStatus = 'failed';\n  const errorMsg = typeof uploadError === 'string' ? uploadError : JSON.stringify(uploadError);\n  console.log(`Complete Report: upload failed — ${errorMsg}`);\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${supabaseUrl}/rest/v1/pipeline_runs?id=eq.${run_id}`,\n      headers: sbHeaders,\n      body: { report_status: 'failed', report_error: errorMsg.substring(0, 500) },\n      json: true\n    });\n  } catch(e) {\n    console.log(`Complete Report: WARNING — failed to PATCH pipeline_runs: ${e.message}`);\n  }\n} else {\n  // Upload succeeded — construct report_url and mark completed\n  const storagePath = `${run_id}/${filename}`;\n  reportUrl = `${supabaseUrl}/storage/v1/object/public/run-reports/${storagePath}`;\n\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${supabaseUrl}/rest/v1/pipeline_runs?id=eq.${run_id}`,\n      headers: sbHeaders,\n      body: { report_url: reportUrl, report_status: 'completed' },\n      json: true\n    });\n    console.log(`Complete Report: marked completed — ${reportUrl}`);\n  } catch(e) {\n    console.log(`Complete Report: WARNING — failed to PATCH pipeline_runs: ${e.message}`);\n  }\n}\n\n// Pass through all data for Send Email node\nreturn [{ json: {\n  run_id,\n  metro,\n  triggered_by,\n  report_url: reportUrl,\n  filename,\n  base64,\n  summary,\n  report_status: reportStatus\n}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Send Email via Resend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ],
      "parameters": {
        "jsCode": "// Send Email via Resend — Final node in Report Generator workflow\n// Mode: runOnceForAllItems\n// Sends email with xlsx attachment via Resend API, PATCHes report_emailed_at.\n\nconst input = $input.first().json;\nconst { run_id, metro, triggered_by, report_url, filename, base64, summary } = input;\n\n// Skip if no recipient\nif (!triggered_by || triggered_by === 'unknown' || !triggered_by.includes('@')) {\n  console.log(`Send Email: skipping — triggered_by is '${triggered_by}' (not a valid email)`);\n  return [{ json: { step: 'send_email', skipped: true, reason: 'no_valid_recipient', run_id } }];\n}\n\n// Skip if no report data\nif (!base64 || !filename) {\n  console.log('Send Email: skipping — no report data (base64 or filename missing)');\n  return [{ json: { step: 'send_email', skipped: true, reason: 'no_report_data', run_id } }];\n}\n\nconst resendApiKey = $env.RESEND_API_KEY;\nif (!resendApiKey) {\n  console.log('Send Email: skipping — RESEND_API_KEY not set');\n  return [{ json: { step: 'send_email', skipped: true, reason: 'no_resend_key', run_id } }];\n}\n\n// Build email HTML body\nconst s = summary || {};\nconst htmlBody = `\n<div style=\"font-family: Arial, sans-serif; max-width: 600px;\">\n  <h2 style=\"color: #2F5496;\">Pipeline Report Ready</h2>\n  <p>Your pipeline run for <strong>${metro}</strong> has completed and the lead report is attached.</p>\n\n  <table style=\"border-collapse: collapse; margin: 16px 0;\">\n    <tr><td style=\"padding: 4px 12px; color: #666;\">Total Records</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.total_records || '-'}</td></tr>\n    <tr><td style=\"padding: 4px 12px; color: #666;\">Sendable Leads</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.sendable || '-'}</td></tr>\n    <tr style=\"background: #f0fff0;\"><td style=\"padding: 4px 12px; color: #666;\">Tier 1a (Name+Email+Phone)</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.tier_1a || 0}</td></tr>\n    <tr style=\"background: #f0fff0;\"><td style=\"padding: 4px 12px; color: #666;\">Tier 1b (Name+Channel)</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.tier_1b || 0}</td></tr>\n    <tr><td style=\"padding: 4px 12px; color: #666;\">Tier 2a (Phone+Website)</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.tier_2a || 0}</td></tr>\n    <tr><td style=\"padding: 4px 12px; color: #666;\">Tier 2b (Cold Call)</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.tier_2b || 0}</td></tr>\n    <tr><td style=\"padding: 4px 12px; color: #666;\">Other (not sendable)</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.other || 0}</td></tr>\n    <tr><td style=\"padding: 4px 12px; color: #666;\">Metros</td><td style=\"padding: 4px 12px; font-weight: bold;\">${s.metros || '-'}</td></tr>\n  </table>\n\n  ${report_url ? `<p><a href=\"${report_url}\" style=\"color: #2F5496;\">Download report from dashboard</a></p>` : ''}\n\n  <p style=\"color: #999; font-size: 12px;\">Generated by VerveLabs Pipeline</p>\n</div>\n`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.resend.com/emails',\n    headers: {\n      'Authorization': `Bearer ${resendApiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      from: 'VerveLabs Pipeline <reports@vervelabs.com>',\n      to: [triggered_by],\n      subject: `Lead Report: ${metro} — ${s.sendable || 0} qualified leads`,\n      html: htmlBody,\n      attachments: [{\n        filename: filename,\n        content: base64\n      }]\n    },\n    json: true\n  });\n\n  console.log(`Send Email: sent to ${triggered_by} — resend id: ${response.id || 'unknown'}`);\n\n  // PATCH report_emailed_at\n  const supabaseUrl = $env.SUPABASE_URL;\n  const supabaseKey = $env.SUPABASE_SERVICE_KEY;\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${supabaseUrl}/rest/v1/pipeline_runs?id=eq.${run_id}`,\n      headers: {\n        'apikey': supabaseKey,\n        'Authorization': 'Bearer ' + supabaseKey,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: { report_emailed_at: new Date().toISOString() },\n      json: true\n    });\n  } catch(e) {\n    console.log(`Send Email: WARNING — failed to update report_emailed_at: ${e.message}`);\n  }\n\n  return [{ json: {\n    step: 'send_email',\n    success: true,\n    run_id,\n    recipient: triggered_by,\n    resend_id: response.id || null\n  }}];\n\n} catch(e) {\n  console.log(`Send Email: ERROR — ${e.message}`);\n  return [{ json: {\n    step: 'send_email',\n    success: false,\n    run_id,\n    error: e.message\n  }}];\n}\n",
        "mode": "runOnceForAllItems"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Fetch Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Report Data": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Upload to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Storage": {
      "main": [
        [
          {
            "node": "Complete Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Report": {
      "main": [
        [
          {
            "node": "Send Email via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}